Debug/SCORE.dat
Jumpy.sdf
Jumpy/.objs/ConsoleFont.o
Jumpy/.objs/Jumpy.o
Jumpy/.objs/resources.res
Jumpy/.objs/stdafx.o
Jumpy/Debug/CL.read.1.tlog
Jumpy/Debug/CL.write.1.tlog
Jumpy/Debug/Jumpy.lastbuildstate
Jumpy/Debug/Jumpy.tlog/CL.read.1.tlog
Jumpy/Debug/Jumpy.tlog/CL.write.1.tlog
Jumpy/Debug/Jumpy.tlog/Jumpy.lastbuildstate
Jumpy/Debug/Jumpy.tlog/cl.command.1.tlog
Jumpy/Debug/Jumpy.tlog/link.command.1.tlog
Jumpy/Debug/Jumpy.tlog/link.read.1.tlog
Jumpy/Debug/Jumpy.tlog/link.write.1.tlog
Jumpy/Debug/Jumpy.tlog/rc.command.1.tlog
Jumpy/Debug/Jumpy.tlog/rc.read.1.tlog
Jumpy/Debug/Jumpy.tlog/rc.write.1.tlog
Jumpy/Debug/cl.command.1.tlog
Jumpy/Debug/link-cvtres.read.1.tlog
Jumpy/Debug/link-cvtres.write.1.tlog
Jumpy/Debug/link-rc.read.1.tlog
Jumpy/Debug/link-rc.write.1.tlog
Jumpy/Debug/link.10212-cvtres.read.1.tlog
Jumpy/Debug/link.10212-cvtres.write.1.tlog
Jumpy/Debug/link.10212-rc.read.1.tlog
Jumpy/Debug/link.10212-rc.write.1.tlog
Jumpy/Debug/link.10212.read.1.tlog
Jumpy/Debug/link.10212.write.1.tlog
Jumpy/Debug/link.1976-cvtres.read.1.tlog
Jumpy/Debug/link.1976-cvtres.write.1.tlog
Jumpy/Debug/link.1976-rc.read.1.tlog
Jumpy/Debug/link.1976-rc.write.1.tlog
Jumpy/Debug/link.1976.read.1.tlog
Jumpy/Debug/link.1976.write.1.tlog
Jumpy/Debug/link.2172-cvtres.read.1.tlog
Jumpy/Debug/link.2172-cvtres.write.1.tlog
Jumpy/Debug/link.2172-rc.read.1.tlog
Jumpy/Debug/link.2172-rc.write.1.tlog
Jumpy/Debug/link.2172.read.1.tlog
Jumpy/Debug/link.2172.write.1.tlog
Jumpy/Debug/link.3456-cvtres.read.1.tlog
Jumpy/Debug/link.3456-cvtres.write.1.tlog
Jumpy/Debug/link.3456-rc.read.1.tlog
Jumpy/Debug/link.3456-rc.write.1.tlog
Jumpy/Debug/link.3456.read.1.tlog
Jumpy/Debug/link.3456.write.1.tlog
Jumpy/Debug/link.3768-cvtres.read.1.tlog
Jumpy/Debug/link.3768-cvtres.write.1.tlog
Jumpy/Debug/link.3768-rc.read.1.tlog
Jumpy/Debug/link.3768-rc.write.1.tlog
Jumpy/Debug/link.3768.read.1.tlog
Jumpy/Debug/link.3768.write.1.tlog
Jumpy/Debug/link.4536-cvtres.read.1.tlog
Jumpy/Debug/link.4536-cvtres.write.1.tlog
Jumpy/Debug/link.4536-rc.read.1.tlog
Jumpy/Debug/link.4536-rc.write.1.tlog
Jumpy/Debug/link.4536.read.1.tlog
Jumpy/Debug/link.4536.write.1.tlog
Jumpy/Debug/link.5312-cvtres.read.1.tlog
Jumpy/Debug/link.5312-cvtres.write.1.tlog
Jumpy/Debug/link.5312-rc.read.1.tlog
Jumpy/Debug/link.5312-rc.write.1.tlog
Jumpy/Debug/link.5312.read.1.tlog
Jumpy/Debug/link.5312.write.1.tlog
Jumpy/Debug/link.5564-cvtres.read.1.tlog
Jumpy/Debug/link.5564-cvtres.write.1.tlog
Jumpy/Debug/link.5564-rc.read.1.tlog
Jumpy/Debug/link.5564-rc.write.1.tlog
Jumpy/Debug/link.5564.read.1.tlog
Jumpy/Debug/link.5564.write.1.tlog
Jumpy/Debug/link.5972-cvtres.read.1.tlog
Jumpy/Debug/link.5972-cvtres.write.1.tlog
Jumpy/Debug/link.5972-rc.read.1.tlog
Jumpy/Debug/link.5972-rc.write.1.tlog
Jumpy/Debug/link.5972.read.1.tlog
Jumpy/Debug/link.5972.write.1.tlog
Jumpy/Debug/link.6288-cvtres.read.1.tlog
Jumpy/Debug/link.6288-cvtres.write.1.tlog
Jumpy/Debug/link.6288-rc.read.1.tlog
Jumpy/Debug/link.6288-rc.write.1.tlog
Jumpy/Debug/link.6288.read.1.tlog
Jumpy/Debug/link.6288.write.1.tlog
Jumpy/Debug/link.6916-cvtres.read.1.tlog
Jumpy/Debug/link.6916-cvtres.write.1.tlog
Jumpy/Debug/link.6916-rc.read.1.tlog
Jumpy/Debug/link.6916-rc.write.1.tlog
Jumpy/Debug/link.6916.read.1.tlog
Jumpy/Debug/link.6916.write.1.tlog
Jumpy/Debug/link.7028-cvtres.read.1.tlog
Jumpy/Debug/link.7028-cvtres.write.1.tlog
Jumpy/Debug/link.7028-rc.read.1.tlog
Jumpy/Debug/link.7028-rc.write.1.tlog
Jumpy/Debug/link.7028.read.1.tlog
Jumpy/Debug/link.7028.write.1.tlog
Jumpy/Debug/link.8504-cvtres.read.1.tlog
Jumpy/Debug/link.8504-cvtres.write.1.tlog
Jumpy/Debug/link.8504-rc.read.1.tlog
Jumpy/Debug/link.8504-rc.write.1.tlog
Jumpy/Debug/link.8504.read.1.tlog
Jumpy/Debug/link.8504.write.1.tlog
Jumpy/Debug/link.9644-cvtres.read.1.tlog
Jumpy/Debug/link.9644-cvtres.write.1.tlog
Jumpy/Debug/link.9644-rc.read.1.tlog
Jumpy/Debug/link.9644-rc.write.1.tlog
Jumpy/Debug/link.9644.read.1.tlog
Jumpy/Debug/link.9644.write.1.tlog
Jumpy/Debug/link.9688-cvtres.read.1.tlog
Jumpy/Debug/link.9688-cvtres.write.1.tlog
Jumpy/Debug/link.9688-rc.read.1.tlog
Jumpy/Debug/link.9688-rc.write.1.tlog
Jumpy/Debug/link.9688.read.1.tlog
Jumpy/Debug/link.9688.write.1.tlog
Jumpy/Debug/link.command.1.tlog
Jumpy/Debug/link.read.1.tlog
Jumpy/Debug/link.write.1.tlog
Jumpy/Debug/rc.command.1.tlog
Jumpy/Debug/rc.read.1.tlog
Jumpy/Debug/rc.write.1.tlog
Jumpy/Debug/resources.res
Jumpy/Debug/vc110.idb
Jumpy/Debug/vc120.idb
Jumpy/Jumpy.cbp
Jumpy/Jumpy.depend
Jumpy/Jumpy.layout
Jumpy/Jumpy.vcxproj.filters
Jumpy/New Text Document.txt
Jumpy/ReadMe.txt
Jumpy/Release/Jumpy.tlog/CL.read.1.tlog
Jumpy/Release/Jumpy.tlog/CL.write.1.tlog
Jumpy/Release/Jumpy.tlog/Jumpy.lastbuildstate
Jumpy/Release/Jumpy.tlog/cl.command.1.tlog
Jumpy/Release/Jumpy.tlog/link.command.1.tlog
Jumpy/Release/Jumpy.tlog/link.read.1.tlog
Jumpy/Release/Jumpy.tlog/link.write.1.tlog
Jumpy/Release/Jumpy.tlog/rc.command.1.tlog
Jumpy/Release/Jumpy.tlog/rc.read.1.tlog
Jumpy/Release/Jumpy.tlog/rc.write.1.tlog
Jumpy/Release/resources.res
Jumpy/c/3dtest/3dtest.c
Jumpy/c/3dtest/3dtest.dsp
Jumpy/c/3dtest/3dtest.rc
Jumpy/c/3dtest/3dtest.vcproj
Jumpy/c/3dtest/makefile
Jumpy/c/bass.dsw
Jumpy/c/bass.h
Jumpy/c/bass.sln
Jumpy/c/basstest/basstest.c
Jumpy/c/basstest/basstest.dsp
Jumpy/c/basstest/basstest.rc
Jumpy/c/basstest/basstest.vcproj
Jumpy/c/basstest/makefile
Jumpy/c/contest/contest.c
Jumpy/c/contest/contest.dsp
Jumpy/c/contest/contest.vcproj
Jumpy/c/contest/makefile
Jumpy/c/custloop/custloop.c
Jumpy/c/custloop/custloop.dsp
Jumpy/c/custloop/custloop.vcproj
Jumpy/c/custloop/makefile
Jumpy/c/dsptest/dsptest.c
Jumpy/c/dsptest/dsptest.dsp
Jumpy/c/dsptest/dsptest.rc
Jumpy/c/dsptest/dsptest.vcproj
Jumpy/c/dsptest/makefile
Jumpy/c/fxtest/fxtest.c
Jumpy/c/fxtest/fxtest.dsp
Jumpy/c/fxtest/fxtest.rc
Jumpy/c/fxtest/fxtest.vcproj
Jumpy/c/fxtest/makefile
Jumpy/c/livefx/livefx.c
Jumpy/c/livefx/livefx.dsp
Jumpy/c/livefx/livefx.rc
Jumpy/c/livefx/livefx.vcproj
Jumpy/c/livefx/makefile
Jumpy/c/livespec/livespec.c
Jumpy/c/livespec/livespec.dsp
Jumpy/c/livespec/livespec.vcproj
Jumpy/c/livespec/makefile
Jumpy/c/makefile
Jumpy/c/makefile.in
Jumpy/c/multi/makefile
Jumpy/c/multi/multi.c
Jumpy/c/multi/multi.dsp
Jumpy/c/multi/multi.rc
Jumpy/c/multi/multi.vcproj
Jumpy/c/netradio/makefile
Jumpy/c/netradio/netradio.c
Jumpy/c/netradio/netradio.dsp
Jumpy/c/netradio/netradio.rc
Jumpy/c/netradio/netradio.vcproj
Jumpy/c/plugins/makefile
Jumpy/c/plugins/plugins.c
Jumpy/c/plugins/plugins.dsp
Jumpy/c/plugins/plugins.rc
Jumpy/c/plugins/plugins.vcproj
Jumpy/c/rectest/makefile
Jumpy/c/rectest/rectest.c
Jumpy/c/rectest/rectest.dsp
Jumpy/c/rectest/rectest.rc
Jumpy/c/rectest/rectest.vcproj
Jumpy/c/speakers/makefile
Jumpy/c/speakers/speakers.c
Jumpy/c/speakers/speakers.dsp
Jumpy/c/speakers/speakers.rc
Jumpy/c/speakers/speakers.vcproj
Jumpy/c/spectrum/makefile
Jumpy/c/spectrum/spectrum.c
Jumpy/c/spectrum/spectrum.dsp
Jumpy/c/spectrum/spectrum.vcproj
Jumpy/c/synth/makefile
Jumpy/c/synth/synth.c
Jumpy/c/synth/synth.dsp
Jumpy/c/synth/synth.vcproj
Jumpy/c/writewav/makefile
Jumpy/c/writewav/writewav.c
Jumpy/c/writewav/writewav.dsp
Jumpy/c/writewav/writewav.vcproj
Release/SCORE.dat
ipch/jumpy-efb40c9/jumpy-a44048fb.ipch
